*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
}
.header_right{
    display: flex;
    justify-content: end;
    width: 100%;
    padding-top: 13px;
}
.header_icons{
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    width: 77px;
    gap: 15px;
    color: #596369;

}
header{
    height: 800px;
    background-image: url("https://ecoharvest.farm/d1.jpg");
    background-size: cover;
}
.nav_logo img{
    width: 180px;
}
nav{
    margin-top: 10px;
    padding: 0px 20px;
    display: flex;
    background-color: rgba(255,255,255,0.7);
    align-items: center;
    justify-content: space-between;
}
.nav_lists ul{
display: flex;
    text-decoration: none;
    list-style: none;
gap: 30px;
}
.nav_lists ul li{
}
.nav_right{
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav_icons{
    display: flex;
    margin-right: 15px;
    gap: 10px;
    
}
.nav_icon_search{
    background-color: white;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}
.nav_icon_bar{
    background-color: green;
    width: 35px;
    height: 35px;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 50%;
        justify-content: center;
}

.header_text{
    padding-top: 150px;
    width: 388px;
    text-align: center;
}
.header_text p{
    font-size: 20px;
    margin: 15px;
}
.header_btn {
display: flex;
gap: 15px;
}
.li_after{
    position: relative;
}
.li_after::after{
    background-image: url("https://ecoharvest.farm/img/shape/1.png");
    background-repeat: no-repeat;
    content: "";
    height: 6px;
    position: absolute;
    left: 0;
    transition: all 0.3s ease 0s;
    width: 76px;
    right: 0;
    margin: auto;
    bottom: -15px;
    text-align: center;
    background-position: center;
}

.header_btn .btn1{
    background-color: green;
    width: 145px;
    height: 46px;
    color: white;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;    
    text-decoration: none;
    align-items: center;
}
.btn1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: brown;
    transform:scaleY(0);
    transition: .5s;
    top: 1;
    transform-origin: top;
    z-index: -1;
}
.btn1:hover::after{
    transform: scale(1);

}
.header_btn .btn2{
    background-color: brown;
    width: 170px;
    height: 46px;
    color: white;
    display: flex;
    justify-content: center;    
    text-decoration: none;
    align-items: center;
}
.all_harvest{
    display: flex;
    align-items: center;
}
.harvest_img img{
    width: 613px;
}
.harvest_text{
    text-align: center;
}
.harvest_text h2{
    font-size: 40px;
}
.harvest_text p{
    margin-top: 30px;
}
.harvest_btn{
}
.btn3{
    background-color: green;
    width: 155px;
    height: 47px;
    margin: auto;  
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
    color: white;

}
.btn3::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: brown;
    transform:scaleY(0);
    transition: .5s;
    top: 1;
    transform-origin: top;
    z-index: -1;
}
.btn3:hover::after{
    transform: scale(1);
}
.harvest_btn a{
    /* color: white;
    text-decoration: none; */

}
.product_text{
    text-align: center;
}
.product_text h2{
    font-size: 60px;
}
.product_lists{
    margin-top: 40px;
}
.sticky{
    height: 39px;
    width: 2px;
    background-color: #e9e9e9;
}
.product_lists ul{
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 30px;
}
.product_lists ul li{
    font-size: 18px;
    font-weight: 500;
    color: #7b8e9d;
    margin-bottom: 0;
    margin-top: 16px;
}
.product_items{
    text-align: center;
    width: 300px;
}
.product_box{
    border: 1px solid #e9e9e9;
    margin-bottom: 25px;
    position: relative;
    width: 300px;
}
.overlay{
    transition: 0.5s;
    position: absolute;
    background-color: #408858ae;
    width: 300px;
    height: 305px;
    top: 0;
opacity: 0;
}
.product_section{
    padding-bottom: 50px;
}
.overlay_icon{
    position: absolute;
    top: 48%;
    color: green;
    left: 45%;
    background-color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.product_box:hover .overlay{
    opacity: 1;
    transition: 0.5s;
}
.product_box img{
width: 100%;
}
.all_products{
    margin-top: 70px;
    gap: 30px;
    display: flex;
}
.choose_section{
    margin-top: 100px;
}
.all_choose{
    display: flex;
}
.choose_left img{
    width: 646px;
}
.choose_right_text{
    text-align: center;
}
.choose_right_text h2{
    font-size: 50px;
}
.choose_right_text p{
margin-top: 40px;
font-size: 17px;
font-weight: normal;
line-height: 30px;
color: #7b8e9d;
}
.choose_content{
    margin-top: 30px;
    gap: 40px;
    display: flex;
    align-items: center;
}
.sort_section{
    margin-top: 117px;
    background-image: url("https://ecoharvest.farm/img/bg/bg3.jpg");
    background-size: cover;
    padding-bottom: 90px;
}
.sort_text{
    text-align: center;
    padding-top: 70px;
    color: white;
    font-size: 35px;
}
.all_sort{
    display: flex;
}
.sort_item p{
    color: white;
    font-size: 30px;
}
.sort_item{
    padding-top: 40px;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.sort_item h2{
    color: white;
    font-size: 87px;
}
.brand_section{
    width: 80%;
    position: absolute;
    padding: 70px;
    top: 203rem;
    background-image: url("https://ecoharvest.farm/img/bg/bg5.jpg");
}
.all_brand{
    display: flex;
    justify-content: space-evenly;
}
footer{
    margin-top: 200px;
    background-image: url("https://ecoharvest.farm/img/bg/bg6.jpg");
}
.all_footer{
    position: relative;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
}
.footer_item .footer_main_img{
    width: 250px;
}
.footer_icons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer_icon{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b7443;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.footer_item{
    text-align: center;
}
.footer_item h2{
    font-size: 35px;
    font-weight: 300;
}
.footer_item ul li{
list-style: none;
font-size: 20px;
color: white;
margin-top: 10px;
}
.stiky_footer{
    margin-top: 20px;
    border-top: 2px solid #357e4e;

}
.footer_text_end{
    text-align: center;
    color: #a0d1b0;
    padding: 20px;
    font-size: 17px;
    margin-bottom: 0;
}