/* task 1 
.animations{
    background-color: rgb(182, 182, 182);
    height: 261px;
    width: 267px;
}
.animation{
    width: 50px;
    height: 50px;
    background: blue;
    position: relative;
    animation: animation 5s 2;
    animation-direction:inherit;
}

@keyframes animation {
    0%   {background: blue; border-radius: 50px;  left: 0px; top: 0px;}
    25%  {background: red;  bleft: 200px; top: 0px;}
    50%  {background: blue; left: 200px; top: 200px;}
    75%  {background: green; left: 0px; top: 200px;}
    100% {background: orange; left: 0px; top: 0px;}
  } */



  /* task 2 
   .animation_img{
    margin-top: 40px;
  }
  * {
    padding: 0;
    margin: 0;
}

body {
    background-color:aqua ;
    width: 100%;
    height: 100vh;
    position: relative;
}

.coffeeBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
}

.coffee {
    background-color: #501E03;
    height: 20px;
    border-radius: 50%;
    z-index: 99;
    position: relative;
    margin: 0 auto -28px;
    width: 233px;
}

.lid {
    background-color: #fff;
    height: 20px;
    border-radius: 50%;
    border: 8px solid #ddd;
    z-index: 9;
    position: relative;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 51%);
}

.cup {
    margin: -18px auto 0;
    background-color: red;
    height: 300px;
    width: 100%;
    max-width: 240px;
    clip-path: polygon(50% 250%, 0 0, 100% 0);
}

.bottom {
    background-color: red;
    height: 20px;
    border-radius: 50%;
    z-index: 9;
    position: relative;
    width: 144px;
    margin: -10px auto 0;
}

.vapour {
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
    justify-content: center;
}

.vapour span {
    position: relative;
    bottom: 50px;
    display: block;
    margin: 0 2px 50px;
    min-width: 8px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    opacity: 0;
    filter: blur(10px);
    animation-delay: calc(var(--v) * -0.5s);
}

@keyframes animate {
    0% {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    50% {
        transform: translateY(-150px) scaleX(5);
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: translateY(-300px) scaleX(10);
    }
} */

 
/* task 3
 .hover {
    position: relative;
    width: 149px;
    transition: 1s;
}

.hover h3 {
    position: relative;
}

.hover h3::after, .hover h3::before {
    content: "";
    position: absolute;
    transition: 1s;
}

.hover h3::after {
    top: 0;
    left: 0;
    width: 75%;
    height: 1px;
    background-color: red;
}

.hover h3::before {
    bottom: 0;  
    left: 0;
    width: 75%;
    height: 2px;
    background-color: green;
}

.hover h3:hover::after {
    top: 100%; 
}

.hover h3:hover::before {
    bottom: 100%;  
} */


/* task 4
 .border {
    position: relative;
    background-color: green;
    width: 170px;
    height: 50px;
    color: azure;
    text-align: center;
    
    
}
.border::after,.border::before{
    content: "";
    position: absolute;
}
.border::after{
    left: 0;
    bottom: 0;
    transition: 1s;

    top:0;
    width: 94%;
    border: 3px solid green;
    position: absolute;
    opacity: 0;
}
.border:hover::after{
    opacity: 1;
    position: absolute;
    top: 0;
    transition: 1s;
    transform: scale(1.3);
}
.border::before{
    transform: scale(1.3);
} */


/* task 5 cehd gosterilib amma tam yazilmayib  
.transi{
    position: relative;
    background-color: orange;
    width: 180px;
    height: 40px;
    color: white;
    text-align: center;
}
.transi::after, .transi::before 
{
    content: "";
    position: absolute;
}
.transi::after{
    width: 20px;
    height: 20px;
    top: 0;
    background-color: blue;
}
.transi:hover{
    z-index: 2;
}
.transi::before{
    height: 20px;
    bottom: 0;
    left: 0;
    background-color: blue;
    width: 20px;
}   */


/* task 6
 .nav  {
    back ground-color: red;
    display: flex;
    height: 40px;
    width: 400px;
    gap: 20px;
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

li {
    display: block;
    position: relative;
}

li::before, li::after {
    width: 0%;
    height: 3px;
    content: "";
    position: absolute;
    top: 60%;
    display: block;
    background: transparent;
    transition: all 500ms ;
}
li:hover::before{
    background: white;
    width: 100%;
}

li:hover::after {
    background: transparent;
    width: 100%;
    transition: 0s;
} */

